title NKN Agent - Remove Node

div(width='30%', align='center')
    textarea(rows='4', cols='50', name='server', form='usrform', placeholder="One IP Per Line...")
    form#usrform(action='remove', method='POST')
        br
        input(type='submit', value="Remove IPs from DB", style='height:30px; width:150px;')
    a(style='color: #4286f4') #{result}
    br
    br
    a(href='/') Back
